<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这里的namespace一定要写对应的mapper类的全名-->
<mapper namespace="com.zsc.mnc.shop.dao.ProductMapper">

    <select id="addProduct" resultType="com.zsc.mnc.shop.model.Product">
         insert into `product`（subTitle,originalPrice,promotePrice,stock,cid,createDate,saleCount）values （#{subTitle},#{originalPrice},#{promotePrice},#{stock},#{cid},#{createDate},#{saleCount}）
    </select>
</mapper>